/*
* Content path
*/
// there's a $content-path variable that's created via gulp based on environment.
// it allows us to get the relative path to assets in sass depending on what server we're on.


/*
* Sizes
*/
$base-font-size: 16px;
$max-width: 75rem; // 1200px
$standard-width: 62rem; // 992px
$medium-width: 48rem; // 768px
$small-width: 30rem;

/*
* Theme Colors
* colors that are commented out were in the original site, but are likely not needed now.
*/
$blue-1: #A4CBE1;
$blue-2: #015999;
$blue-3: #000e2f;

// $red-1: #f05b4f;
// $red-2: #c42b29;
$red-3: #e4002b;
// $red-4: #8a2121;
// $red-5: #6e0015;

$cool-grey-1: #a2aaad;
$cool-grey-2: #7c878e;
$cool-grey-3: #6b7880;

$grey-1: #eeeeee;
$grey-2: #ebebeb;
$grey-3: #cccccc;
$grey-4: #999999;
$grey-5: #808080;
$grey-6: #777777;
$grey-7: #555555;
$grey-8: #333333;

$white: #ffffff;
$black: #000000;

/*
* Theme Font Faces
*/

$body-sans: Archivo, "Proxima Nova", sans-serif;
$monospace: Courier, monospace;
$display-serif: "DM Serif Display", Times, serif;
$display-sans: league-gothic, sans-serif;
$font-awesome-5: 'Font Awesome 5 Free';

%btn {
  cursor: pointer;
  border: 1px solid $blue-3;
  font-weight: 400;
  font-family: $display-sans;
  letter-spacing: .015em;
  line-height: 1.4;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

%btn-blue {
  @extend %btn;
  background-color: $blue-3;
  color: $white;
  &:hover,
  &:focus {
    background-color: $grey-1;
    border: 1px solid $grey-3;
    color: $blue-3;
  }
}

%btn-blue-alt {
  @extend %btn;
  background-color: $blue-2;
  color: $white;
  &:hover,
  &:focus {
    background-color: $red-3;
    border: 1px solid $red-3;
  }
}

%header-bg-highlight {
  background-color: $blue-2;
}

%header-bg-lowlight {
  background-color: $blue-3;
}

// make theme variables available as plain css variables
:root {
  --max-width: #{$max-width};
  --blue-1: #{$blue-1};
  --blue-2: #{$blue-2};
  --blue-3: #{$blue-3};
  // --red-1: #{$red-1};
  // --red-2: #{$red-2};
  --red-3: #{$red-3};
  // --red-4: #{$red-4};
  // --red-5: #{$red-5};
  --cool-grey-1: #{$cool-grey-1};
  --cool-grey-2: #{$cool-grey-2};
  --cool-grey-3: #{$cool-grey-3};
  --grey-1: #{$grey-1};
  --grey-2: #{$grey-2};
  --grey-3: #{$grey-3};
  // --grey-4: #{$grey-4};
  // --grey-5: #{$grey-5};
  --grey-6: #{$grey-6};
  --grey-7: #{$grey-7};
  --grey-8: #{$grey-8};
  --white: #{$white};
  --black: #{$black};
  --body-sans: #{$body-sans};
  --monospace: #{$monospace};
  --display-sans: #{$display-sans};
  --display-serif: #{$display-serif};
}