@import 'variables';
@import 'typography/typography';
@import 'layout/layout';
@import 'modules/modules';
@import 'utilities/utilities';
@import 'search/search';
@import 'header/header';
@import 'footer/footer';

* {
  box-sizing: border-box;
}

body {
  color: $blue-3;
  font-family: $body-sans;
  font-size: $base-font-size;
  margin: 0;
}

.screen-reader {
  position: absolute;
  left: -9999px;
}

.skip-nav {
  background-color: $grey-1;
  padding: 16px;
  &:focus {
    color: $blue-3;
    left: 32px;
    top: 32px;
  }
}