.error404,
.search-results,
.search-no-results {
  main {
    margin-bottom: 5rem;
    .container {
      max-width: 50rem;
    }
  }
  article {
    overflow: auto;
    margin: 2rem auto;
  }
}

.moretag {
  background-color: $blue-3;
  color: $white;
  display: table;
  font-family: $body-sans;
  font-weight: bold;
  letter-spacing: .5px;
  margin: .65rem 0;
  padding: .75rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: $red-3;
    color: $white;
  }
}

#error-page-form-wrapper,
#search-page-form-wrapper {
  form {
    background-color: $grey-1;
    display: flex;
  }
  input[type="search"] {
    font-size: 1rem;
    flex: 1;
    padding: 1rem;
    border: 1px solid transparent;
    background-color: transparent;
  }
  button[type="submit"] {
    border: 1px solid transparent;
    background-color: transparent;
    padding-right: 1rem;
    svg {
      height: 1.3rem;
      width: 1.3rem;
    }
  }
  @media screen and (min-width: $small-width) {
    input[type="search"] {
      font-size: 2rem;
    }
    button[type="submit"] {
      svg {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}

#mobile-nav-container {
  input[type="search"] {
    background-color: $grey-3;
    border: 1px solid transparent;
    color: $blue-3;
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    &::placeholder {
      color: $blue-3;
    }
  }
  button[type="submit"] {
    background-color: $grey-3;
    border: 1px solid transparent;
  }
  .search-container {
    margin: 2rem 0;
  }
  .search-icon {
    display: block;
    margin-top: 5px;
  }
}