.bg {
  &-blue-1 {
    background-color: $blue-1;
  }
  &-blue-2 {
    background-color: $blue-2;
  }
  &-blue-3 {
    background-color: $blue-3;
  }
  // &-red-1 {
  //   background-color: $red-1;
  // }
  // &-red-2 {
  //   background-color: $red-2;
  // }
  &-red-3 {
    background-color: $red-3;
  }
  // &-red-4 {
  //   background-color: $red-4;
  // }
  // &-red-5 {
  //   background-color: $red-5;
  // }
  &-cool-grey-1 {
    background-color: $cool-grey-1;
  }
  &-cool-grey-2 {
    background-color: $cool-grey-2;
  }
  &-grey-1 {
    background-color: $grey-1;
  }
  &-grey-2 {
    background-color: $grey-2;
  }
  &-grey-3 {
    background-color: $grey-3;
  }
  // &-grey-4 {
  //   background-color: $grey-4;
  // }
  // &-grey-5 {
  //   background-color: $grey-5;
  // }
  &-grey-6 {
    background-color: $grey-6;
  }
  &-grey-7 {
    background-color: $grey-7;
  }
  &-grey-8 {
    background-color: $grey-8;
  }
  &-red-dot-parallax {
    background-attachment: fixed;
    background-image: url(#{$content-path}/images/red-square-dots.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  &-red-dot-right-bottom {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-image: url(#{$content-path}/images/red-square-dots.png);
      background-repeat: round;
      bottom: -2.25rem;
      height: 5rem;
      right: 0;
      visibility: hidden;
      width: 400px;
      @media screen and (min-width: $medium-width) {
        visibility: visible;
      } 
    }
  }
}