.text {
  &-white {
    * {
      color: $white;
    }
    a {
      &:hover,
      &:focus {
        color: $red-3;
      }
    }
  }
  &-uppercase {
    * {
      text-transform: uppercase;
    }
  }
}

.bodysans {
  font-family: $body-sans;
}

.displaysans {
  font-family: $display-sans;
}

.displayserif {
  font-family: $display-serif;
}

.monospace {
  font-family: $monospace;
}

.fl-builder-content {
  .text-white {
    .fl-button {
      &:visited {
        color: $white;
      }
      * {
        color: $white;
      }
    }
  }
}