p,
.fl-rich-text * {
  line-height: 1.8;
  margin-top: 0;
}

a {
  color: $red-3;
  &:hover,
  &:focus {
    color: $cool-grey-3;
  }
}

blockquote {
  color: $blue-2;
  font-family: $display-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 36px;
}

cite {
  color: $grey-6;
  font-style: italic;
}

small {
  font-size: 65%;
}

.btn {
  @extend %btn;
  &.btn-blue {
    @extend %btn-blue;
  }
  &.btn-blue-alt {
    @extend %btn-blue-alt;
  }
}

.timestamp {
  font-family: $display-sans;
  font-size: 1.5rem;
}