.header-row {
  background-color: $blue-2;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  a,
  button {
    font-family: $monospace;
    font-size: $base-font-size;
  }
  a {
    color: $grey-1;
    display: inline-block;
    padding: $base-font-size;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
  }
  .site-name {
    font-family: $body-sans;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
    white-space: normal;
  }
}

.upper-header-container {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
  }
}

.menu-title-area-menu-container {
  align-items: center;
  display: flex;
}

.title-area-menu {
  a {
    &:hover,
    &:focus {
      @extend %header-bg-lowlight
    }
  }
}

