.card {
  margin: 20px;
  .fl-col-content {
    background-color: $white;
    border: solid 1px $grey-1;
    .fl-button-text {
      font-family: $display-sans;
      letter-spacing: .015em;
    }
  }
}