.fl-slide-title,
.fl-slide-text h1 {
  line-height: 1;
}

@media (min-width:769px) and (max-width:1100px) {
  .fl-slide .fl-slide-foreground  .fl-slide-content-wrap {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text h1
  {
    font-family: "DM Serif Display",Times,serif;
    font-size: 35px !important;
  } 
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text h1:after {
      border:none;
  }
}