#uctc-form {
  label {
    font-weight: bold;
  }
  select {
    appearance: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
  }
  > div {
    & + div {
      margin-top: 1.5rem;
    }
  }
  thead {
    text-align: left;
  }
  tbody {
    tr {
      &:nth-child(odd),
      &:hover {
        background-color: $grey-1;
      }
    }
  }
  th,
  td {
    border: 1px solid $grey-3;
    padding: 0.5rem;
  }
  .uctc-table-title {
    margin-bottom: 1rem;
  }
  .select-loaded {
    .uctc-select-wrapper {
      position: relative;
      &:after {
        content: '\f107';
        font-family: $font-awesome-5;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        right: 0.5rem;
        top: -3px;
      }
    }
  }
  .uctc-table {
    border-collapse: collapse;
    display: table;
    width: 100%;
  }
}